*{
    box-sizing: border-box;
}


header{}
h1{
    text-align: center;

    color: rgba(225, 240, 13, 0.829);
}
section{
    
}

.box{
    display: inline-block;

    width: 200px;
    height: 200px;

    background-color: blue;
    color: red;

    text-align: center;

}

.linha{
    display: inline-block;

    width: 10px;
    height: 200px;

    background-color: red;
}